*{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}
.career{
    width: 100%;
    padding: 100px 0px;
    background-color: whitesmoke;
}
.h4{
    color: purple;
    font-size: 65px;
    text-decoration: underline;
}
.p{
    color: black;
    font-size: 40px;
    line-height: 27px;
    margin-bottom: 25px;
}