*{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}
.community{
    background-size: cover;
    background-position: center;
    background-color: white;
    height: 100vh;
    width: 100%;
}
.community h2{
    position: relative;
    color: black;
    font-size: 45px;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
}