.contact-us{
    width: 100%;
    height: 290px;
    background: black;
    background-color: white;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
.contact-us p{
    color: black;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 25px;
}