*{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}
.remote{
    width: 100%;
    height: 100vh;
    background-image: url(https://th.bing.com/th/id/OIP.nhXbziJTc1ERw8XHnDy8ewHaCX?w=313&h=111&c=7&r=0&o=5&pid=1.7);
    background-size: cover;
    background-position: center;
    background-color: white;
}
.remote-text{
    width: 550px;
    padding: 100px 0px;
    background-color: white;
}
.remote-text h2{
    color: black;
    font-size: 75px;
    text-transform: capitalize;
    margin-bottom: 20px;
}
.remote-text p{
    color: black;
    letter-spacing: 1px;
    line-height: 28px;
    font-size: 100px;
    margin-bottom: 45px;
}