*{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}
header{
    background-color: red;
    /*padding: 1rem 2rem: */
}

.content{
    position: absolute;
    top: 50%;
    left: 8%;
    transform: translate(-50%);
}
h1{
    color: blue;
    margin: 20px 0px 20px;
    font-size: 75px;
}
h3{
    color: beige;
    font-size: 25px;
    margin-bottom: 45px;
}
h4{
    color: bisque;
    letter-spacing: 2px;
    font-size: 20px;
}
.hero{
    height: 100vh;
    width: 90%;
    background-image:WhatsApp Image 2023-02-26 at 10.54.23.jpg;
    background-size: cover;
    background-position: right;
    background-color: black;
}