*{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}
header{
    background-color: black;
    /*padding: 1rem 2rem: */
}
*{
    text-decoration: none;
    color: white;
    font-size: 1.2rem;
    font-weight: bold;
    /*text-transform: uppercase; */
}
/*nav styles */
.nav{
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
}
.harmburger{
    padding: 20px;
    cursor: pointer;
}
.harmburger .line{
    display: block;
    width: 40px;
    height: 5px;
    margin-bottom: 10px;
    background-color: white;
}
.nav__link{
    position: fixed;
    width: 100px;
    top: 4rem;
    background-color: #01a2a5;
}
.nav__link a{
    display: block;
    text-align: center;
    padding: 10px;
}
.nav__link a:hover{
    color: aqua;
}
.hide{
    display: none;
}
@media screen and (min-width: 600px) {
    .nav__link{
        display: block;
        position: static;
        width: auto;
        margin-right: 20px;
        background: none;
    }
    .nav__link a{
        display: inline-block;
        padding: 15px 20px;
    }
    .hamburger{
        display: none;
    }
}

.content{
    position: absolute;
    top: 50%;
    left: 8%;
    transform: translateY(-50%);
}
h1{
    color: blue;
    margin: 20px 0px 20px;
    font-size: 75px;
}
h3{
    color: beige;
    font-size: 25px;
    margin-bottom: 45px;
}
h4{
    color: bisque;
    letter-spacing: 2px;
    font-size: 20px;
}
.hero{
    height: 100vh;
    width: 100%;
    background-image:WhatsApp Image 2023-02-26 at 10.54.23.jpg;
    background-size: cover;
    background-position: right;
    background-color: black;
}