*{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    box-sizing: border-box;
    background-color: black;
}
header{
    background-color: grey;
    /*padding: 1rem 2rem: */
}
*{
    text-decoration: none;
    color: white;
    font-size: 1.2rem;
    font-weight: bold;
    /*text-transform: uppercase; */
}
/*nav styles */
.nav{
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
}
.harmburger{
    padding: 20px;
    cursor: pointer;
}
.harmburger .line{
    display: block;
    width: 40px;
    height: 5px;
    margin-bottom: 10px;
    background-color: white;
}
.nav__link{
    position: absolute;
    width: 100px;
    top: 4rem;
    right: 8%;
    background-color: white;
}
.nav__link a{
    display: block;
    text-align: center;
    padding: 10px;
}
.nav__link a:hover{
    color: bisque;
}
.hide{
    display: none;
}
@media screen and (min-width: 600px) {
    .nav__link{
        display: block;
        position: static;
        width: auto;
        margin-right: 20px;
        background: none;
    }
    .nav__link a{
        display: inline-block;
        padding: 15px 20px;
    }
    .hamburger{
        display: none;
    }
}

.content{
    position: absolute;
    top: 50%;
    left: 8%;
    transform: translateY(-50%);
}
h1{
    color: purple;
    margin: 20px 0px 20px;
    font-size: 65px;
    font-style: italic;
}
h3{
    color: white;
    font-size: 25px;
    margin-bottom: 45px;
}
h4{
    color: white;
    letter-spacing: 2px;
    font-size: 20px;
}
.hero{
    height: 100vh;
    width: 100%;
    background-image: ;
    background-size: cover;
    background-position: center;
    background-color: black;
}
.btn{
    background-color: blue;
    color: bisque;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 10px 25px;
    border-radius: 30px;
    transition: transform .4s;
}
.btn:hover{
    transform:scale(1.3);
}
.button{
    background-color: palevioletred;
    color: white;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 13px 30px;
    border-radius: 30px;
    transition: .4s;
}
.button:hover{
    background-color: transparent;
    border: 2px solid purple;
    cursor: pointer;
}
.about{
    width: 100%;
    padding: 100px 0px;
    background-color: white;
}
.about img{
    height: auto;
    width: 430px;
}
.about-text{
    width: 550px;
    padding: 100px 0px;
    background-color: #191919;
}
.main{
    width: 1130px;
    max-width: 95%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.about-text h2{
    color: white;
    font-size: 75px;
    text-transform: capitalize;
    margin-bottom: 20px;
}
.about-text h5{
    color: white;
    letter-spacing: 2px;
    font-size: 22px;
    margin-bottom: 25px;
    text-transform: capitalize;
}
.about-text p{
    color: white;
    letter-spacing: 1px;
    line-height: 28px;
    font-size: 18px;
    margin-bottom: 45px;
}
.title h2{
    color: white;
    font-size: 75px;
    width: 1130px;
    margin: 30px auto;
    text-align: center;
}
h5{
    color: white;
    font-size: 23px;
    margin-bottom: 15px;
}
.pra p{
    color: #fcfc;
    font-size: 16px;
    line-height: 27px;
    margin-bottom: 25px;
}